Repository mit-cml/appinventor-sources, pull requests merged in 2023-12, with the labels that each got.

#3015 Ios layout fix
  appinventor/components-ios/src/Form.swift
  appinventor/components-ios/src/LinearView.swift
  appinventor/components-ios/tests/Unit Tests/util/LinearViewTests.swift
Labels: bug, pull request: needs reply to review, affects: ucr, ios, testflight

#3041 Handle older rendezvous server behavior on iOS
  appinventor/aicompanionapp/src/ViewController.swift
  appinventor/components-ios/src/WebRTCNativeManager.swift
Labels: pull request: needs review, technical debt, affects: ucr, ios, testflight

#3068 Fix use of localhost URLs in iOS WebViewer
  appinventor/components-ios/src/WebViewer.swift
Labels: bug, pull request: needs review, affects: ucr, ios

#2924 Implement missing Webview features on iOS (GSoC 2023)
  appinventor/components-ios/src/WebViewer.swift
Labels: enhancement, pull request: needs review, affects: ucr, ios, testflight

#3074 Do not pass null list to blocks in CloudDB.GetValue
  appinventor/components-ios/src/CloudDB.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight
