Repository mit-cml/appinventor-sources, pull requests merged in 2023-11, with the labels that each got.

#3047 Fix iOS vs Android date support mismatch in Clock
  appinventor/components-ios/src/Clock.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3053 Fix crash of static field reuse in tests
  appinventor/schemekit/src/yail.m
Labels: bug, pull request: needs review, affects: ucr, ios

#2943 Feature/default file scope
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-ios/src/FileScope.swift
  appinventor/components-ios/src/Form.swift
  appinventor/components-ios/src/OptionList.swift
  appinventor/components-ios/src/runtime.scm
  appinventor/components-ios/tests/RuntimeTests.swift
Labels: pull request: needs review, affects: ucr, ios, testflight

#3055 Fix font size and encoding issues with iOS Label
  appinventor/components-ios/src/Label.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3052 Switch iOS ListView to word wrap cells by default
  appinventor/components-ios/src/ListView.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3025 Fix iOS map zoom initialization
  appinventor/components-ios/src/Map.swift
Labels: pull request: needs review, affects: ucr, regression, ios, testflight

#3026 Fix LineString, Polygon, Rectangle, and Circle not appearing on iOS Map
  appinventor/components-ios/src/Map.swift
  appinventor/components-ios/src/PolygonBase.swift
Labels: pull request: needs review, affects: ucr, regression, ios, testflight

#3035 Ensure Player state resets upon completion
  appinventor/components-ios/src/Player.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3049 Only respond to messages if intended for the WebViewer
  appinventor/components-ios/src/WebViewer.swift
Labels: pull request: needs review, technical debt, affects: ucr, ios

#3050 Fix off-by-one error in ListView
  appinventor/components/src/com/google/appinventor/components/runtime/util/ElementsUtil.java
Labels: pull request: needs review, affects: ucr, regression, android

#3027 Fix buttons not taking a translucent background color
  appinventor/components/src/com/google/appinventor/components/runtime/ButtonBase.java
  appinventor/components/src/com/google/appinventor/components/runtime/Form.java
Labels: bug, pull request: needs review, affects: ucr, android

#3042 Make the definition of DEFAULT_THEME match project.properties
  appinventor/components/src/com/google/appinventor/components/common/ComponentConstants.java
Labels: bug, pull request: needs review, affects: ucr, android

#3062 Fix crashes reported by Google
  appinventor/components/src/com/google/appinventor/components/runtime/EventDispatcher.java
  appinventor/components/src/com/google/appinventor/components/runtime/util/FroyoUtil.java
  appinventor/components/src/com/google/appinventor/components/runtime/util/MediaUtil.java
Labels: pull request: needs review, affects: ucr

#3064 Upgrade formally to DeviceDefault theme as default
  appinventor/appengine/src/com/google/appinventor/client/youngandroid/YoungAndroidFormUpgrader.java
  appinventor/blocklyeditor/src/versioning.js
  appinventor/components/src/com/google/appinventor/components/common/YaVersion.java
  appinventor/components/src/com/google/appinventor/components/runtime/Form.java
  appinventor/components/src/com/google/appinventor/components/runtime/ReplForm.java
Labels: pull request: needs review, affects: ucr, regression, android

#3065 Update srcCompVersion in upgradeFormProperties
  appinventor/appengine/src/com/google/appinventor/client/youngandroid/YoungAndroidFormUpgrader.java
Labels: pull request: needs review, affects: master, regression

#3067 Fix some thrown exceptions in replmgr
  appinventor/blocklyeditor/src/replmgr.js
Labels: pull request: needs review, affects: master, regression
