Repository mit-cml/appinventor-sources, pull requests merged in 2024-07, with the labels that each got.

#3108 Feature/chatbot vision (unfinished)
  appinventor/appengine/src/com/google/appinventor/client/youngandroid/YoungAndroidFormUpgrader.java
  appinventor/blocklyeditor/src/versioning.js
  appinventor/components-ios/src/AssetManager.swift
  appinventor/components-ios/src/ChatBot.swift
  appinventor/components-ios/src/ImageBot.swift
  appinventor/components-ios/src/ImagePicker.swift
  appinventor/components-ios/src/chat.pb.swift
  appinventor/components-ios/src/chat.proto
  appinventor/components/src/com/google/appinventor/components/common/YaVersion.java
  appinventor/components/src/com/google/appinventor/components/runtime/ChatBot.java
  appinventor/components/src/com/google/appinventor/components/runtime/chatbot/ChatBotToken.java
  appinventor/components/src/com/google/appinventor/components/runtime/chatbot/chat.proto
  appinventor/docs/html/reference/components/experimental.html
  appinventor/docs/markdown/reference/components/experimental.md
Labels: pull request: needs review, feature request, affects: ucr, on ai2-test, android

#3195 Fix Mark Origin
  appinventor/appengine/src/com/google/appinventor/client/OdeMessages.java
  appinventor/appengine/src/com/google/appinventor/client/editor/youngandroid/properties/YoungAndroidSpriteOriginPropertyEditor.java
Labels: pull request: needs review, affects: master

#3196 Make project list scrollable in neo
  appinventor/appengine/src/com/google/appinventor/client/style/neo/neo.css
Labels: pull request: needs review, affects: master

#3199 Fix Neo box css pushing Assets box below fold
  appinventor/appengine/src/com/google/appinventor/client/style/neo/Ode.ui.xml
  appinventor/appengine/src/com/google/appinventor/client/style/neo/neo.css
  appinventor/appengine/src/com/google/appinventor/client/widgets/properties/SubsetJSONPropertyEditor.java
Labels: pull request: needs review, affects: master

#3174 Add proper errors for unsupported iOS texting features
  appinventor/components-ios/src/ErrorMessages.swift
  appinventor/components-ios/src/Texting.swift
Labels: pull request: needs review, technical debt, affects: ucr, ios

#3165 Make iOS WebViewer fill parent in compiled apps
  appinventor/components-ios/src/WebViewer.swift
Labels: bug, pull request: needs review, affects: ucr, ios

#3207 Delay CDN warning message by 2 seconds
  appinventor/appengine/extra/cdnok.js
  appinventor/appengine/war/index.jsp
Labels: enhancement, pull request: needs review, affects: master

#3192 Replaced resizableActivity to resizeableActivity
  appinventor/components/src/com/google/appinventor/components/annotations/androidmanifest/ActivityElement.java
  appinventor/lib/proguard/proguard.cfg
Labels: bug, pull request: needs review, affects: master, android
