Repository mit-cml/appinventor-sources, pull requests merged in 2024-11, with the labels that each got.

#3253 Use host URL, including scheme, for companion download URL
  appinventor/appengine/src/com/google/appinventor/client/OdeMessages.java
  appinventor/appengine/src/com/google/appinventor/client/actions/AboutCompanionAction.java
Labels: pull request: needs review, technical debt, affects: master

#3254 Implement a default uncaught exception handler
  appinventor/components/src/com/google/appinventor/components/runtime/Form.java
  appinventor/components/src/com/google/appinventor/components/runtime/ReplForm.java
  appinventor/components/src/com/google/appinventor/components/runtime/util/ErrorMessages.java
Labels: enhancement, pull request: needs review, affects: ucr, android

#3235 ListView Android performance refactor
  appinventor/components-ios/src/ListView.swift
  appinventor/components/src/com/google/appinventor/components/common/LayoutType.java
  appinventor/components/src/com/google/appinventor/components/common/ListOrientation.java
  appinventor/components/src/com/google/appinventor/components/runtime/ListAdapterWithRecyclerView.java
  appinventor/components/src/com/google/appinventor/components/runtime/ListBounceEdgeEffectFactory.java
  appinventor/components/src/com/google/appinventor/components/runtime/ListView.java
  appinventor/components/tests/com/google/appinventor/components/runtime/ListViewTest.java
  appinventor/docs/html/reference/components/userinterface.html
  appinventor/docs/markdown/reference/components/userinterface.md
  appinventor/lib/android/support/dynamicanimation-1.0.0.jar
Labels: pull request: needs review, affects: ucr, regression, android

#3257 Move Vagrant instructions lower in the README
  README.md
Labels: documentation, pull request: needs review, technical debt, affects: master

#3252 Implement ImageSprite origin for iOS
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-ios/src/Ball.swift
  appinventor/components-ios/src/ImageSprite.swift
  appinventor/components-ios/src/Sprite.swift
  appinventor/components-ios/src/Vector2D.swift
Labels: pull request: needs review, feature request, affects: ucr, ios, testflight

#3261 Implement fix for ElementColor in nb199
  appinventor/appengine/src/com/google/appinventor/client/youngandroid/YoungAndroidFormUpgrader.java
  appinventor/blocklyeditor/src/versioning.js
  appinventor/components/src/com/google/appinventor/components/common/YaVersion.java
  appinventor/components/src/com/google/appinventor/components/runtime/ListAdapterWithRecyclerView.java
  appinventor/components/src/com/google/appinventor/components/runtime/ListView.java
Labels: pull request: needs review, affects: ucr, regression, android
