Repository mit-cml/appinventor-sources, pull requests merged in 2024-12, with the labels that each got.

#3104 Implement Charts for iOS
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-ios/src/AreaChartDataModel.swift
  appinventor/components-ios/src/AreaChartView.swift
  appinventor/components-ios/src/AxisChartView.swift
  appinventor/components-ios/src/BarChartDataModel.swift
  appinventor/components-ios/src/BarChartView.swift
  appinventor/components-ios/src/BinarySearchUtil.swift
  appinventor/components-ios/src/Chart.swift
  appinventor/components-ios/src/Chart2DDataModel.swift
  appinventor/components-ios/src/ChartData2D.swift
  appinventor/components-ios/src/ChartDataBase.swift
  appinventor/components-ios/src/ChartDataModel.swift
  appinventor/components-ios/src/ChartDataSourceUtil.swift
  appinventor/components-ios/src/ChartView.swift
  appinventor/components-ios/src/DataSource.swift
  appinventor/components-ios/src/DataSourceChangeListener.swift
  appinventor/components-ios/src/ErrorMessages.swift
  appinventor/components-ios/src/Form.swift
  appinventor/components-ios/src/LifecycleDelegate.swift
  appinventor/components-ios/src/LineChartBaseDataModel.swift
  appinventor/components-ios/src/LineChartDataModel.swift
  appinventor/components-ios/src/LineChartView.swift
  appinventor/components-ios/src/LineChartViewBase.swift
  appinventor/components-ios/src/LineType.swift
  appinventor/components-ios/src/ObservableDataSource.swift
  appinventor/components-ios/src/PieChartDataModel.swift
  appinventor/components-ios/src/PieChartView.swift
  appinventor/components-ios/src/PointChartDataModel.swift
  appinventor/components-ios/src/PointChartView.swift
  appinventor/components-ios/src/PointShape.swift
  appinventor/components-ios/src/RealTimeDataSource.swift
  appinventor/components-ios/src/ScatterChartDataModel.swift
  appinventor/components-ios/src/ScatterChartView.swift
  appinventor/components-ios/src/Spreadsheet.swift
  appinventor/components-ios/src/TinyDB.swift
  appinventor/components-ios/tests/Unit Tests/util/ChartDataSourceUtil.swift
Labels: pull request: needs review, feature request, affects: ucr, ios, testflight

#3274 fix action versions and use java 11
  .github/workflows/ant.yml
Labels: pull request: needs review, technical debt, affects: master

#3266 Fix extension loading for Android versions < 14
  appinventor/components/src/com/google/appinventor/components/runtime/ReplForm.java
  appinventor/components/src/com/google/appinventor/components/runtime/util/AssetFetcher.java
Labels: pull request: needs review, affects: ucr, regression, android

#3285 Fix iOS issue with 0, 1 being interpreted as JSON bools
  appinventor/components-ios/src/JsonUtil.swift
  appinventor/schemekit/src/SCMValue.m
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3283 Make empty state a computable property for better multiline support
  appinventor/components-ios/src/TextBox.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3290 Add path info to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation, pull request: needs review, affects: master

#3279 fix regression due to compiler refactor
  appinventor/buildserver/src/com/google/appinventor/buildserver/tasks/android/CreateManifest.java
  appinventor/buildserver/src/com/google/appinventor/buildserver/tasks/common/LoadComponentInfo.java
Labels: pull request: in review, affects: master, regression

#3286 Fix WriteRange bug on iOS appending instead of overwriting
  appinventor/components-ios/src/Spreadsheet.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3260 Implement Regression for iOS
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-ios/src/DataCollection.swift
  appinventor/components-ios/src/Regression.swift
  appinventor/components-ios/src/TrendlineCalculator.swift
  appinventor/components-ios/tests/Unit Tests/components/nonvisible/RegressionTests.swift
Labels: pull request: needs review, feature request, affects: ucr, ios, testflight

#3287 Fix loading of TinyDB values from list
  appinventor/components-ios/src/PointChartDataModel.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3166 Fix bad HTTP verb in iOS Web component
  appinventor/components-ios/src/Web.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3288 Correct logic of HighlightDataPoints
  appinventor/components-ios/src/ChartData2D.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3293 Fix nested list rendering in iOS ListView
  appinventor/components-ios/src/StringUtil.swift
Labels: bug, pull request: needs review, affects: ucr, ios

#3169 implement anamoly detection for iOS
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-ios/src/AnomalyDetection.swift
  appinventor/components-ios/tests/Unit Tests/components/nonvisible/AnomalyDetectionTests.swift
Labels: pull request: needs review, feature request, affects: ucr, ios

#3066 PosenetExtension for iOS
  appinventor/AICompanionApp.xcodeproj/project.pbxproj
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-ios/src/BaseAiComponent.swift
  appinventor/components-ios/src/PosenetExtension.swift
  appinventor/components-ios/src/extensions/assets/VERSIONS
  appinventor/components-ios/src/extensions/assets/group1-shard1of1.bin
  appinventor/components-ios/src/extensions/assets/model-stride16.json
  appinventor/components-ios/src/extensions/assets/posenet.html
  appinventor/components-ios/src/extensions/assets/posenet.min.js
  appinventor/components-ios/src/extensions/assets/posenetextension.js
  appinventor/components-ios/src/extensions/assets/tf-converter.min.js
  appinventor/components-ios/src/extensions/assets/tf-core.min.js
Labels: pull request: needs review, feature request, affects: ucr, ios, testflight

#3289 Implement EntryClick event for ChartData2D on iOS
  appinventor/components-ios/src/ChartDataBase.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3215 Feature/facemesh ios
  appinventor/AICompanionApp.xcodeproj/xcshareddata/xcschemes/AICompanionApp.xcscheme
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-ios/src/Canvas.swift
  appinventor/components-ios/src/FaceExtension.swift
  appinventor/components-ios/src/VERSIONS.txt
  appinventor/components-ios/src/WebViewer.swift
  appinventor/components-ios/src/extensions/assets/model-stride16.json
  appinventor/components-ios/src/extensions/assets/posenet_group1-shard1of1.bin
  appinventor/components-ios/src/extensions/assets/posenet_model-stride16.json
  appinventor/components-ios/src/extensions/assets/tf-converter.min.js
  appinventor/components-ios/src/extensions/assets/tf-core.min.js
  appinventor/components-ios/src/facemesh.html
  appinventor/components-ios/src/facemesh.js
  appinventor/components-ios/src/facemesh.min.js
  appinventor/components-ios/src/facemesh_group1-shard1of1.bin
  appinventor/components-ios/src/facemesh_model.json
  appinventor/components-ios/src/tf-converter-1.7.4.min.js
  appinventor/components-ios/src/tf-core-1.7.4.min.js
Labels: enhancement, pull request: needs review, affects: ucr, ios, testflight

#3297 Fix use of UIKit on background thread in AssetFetcher
  appinventor/components-ios/src/AssetFetcher.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3300 Make iOS ChartDataBase return an event dispatcher
  appinventor/components-ios/src/ChartDataBase.swift
Labels: bug, pull request: needs review, affects: ucr, ios

#3296 Implement some BLE and Micro:bit support for iOS
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/aicompanionapp/src/Info.plist
  appinventor/components-ios/src/BluetoothLE.swift
  appinventor/components-ios/src/ErrorMessages.swift
  appinventor/components-ios/src/Microbit_Uart_Simple.swift
  appinventor/schemekit/src/SCMNameResolver.m
  appinventor/schemekit/src/yail.m
Labels: pull request: needs review, feature request, affects: ucr, ios, testflight

#3301 Fix miscellaneous bugs in iOS AI components
  appinventor/components-ios/src/BaseAiComponent.swift
  appinventor/components-ios/src/FaceExtension.swift
  appinventor/components-ios/src/PosenetExtension.swift
  appinventor/components-ios/src/Sprite.swift
  appinventor/components-ios/src/WebViewer.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight

#3295 Fixes for the Trendline iOS.
  appinventor/components-ios/src/Trendline.swift
  appinventor/components-ios/src/TrendlineCalculator.swift
Labels: enhancement, pull request: needs review, affects: ucr, ios, testflight

#2923 Implement progress views for iOS (GSoC'23)
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-ios/src/CircularProgress.swift
  appinventor/components-ios/src/LinearProgress.swift
Labels: pull request: needs review, feature request, affects: ucr, ios

#2930 Sensor components iOS
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-ios/src/Barometer.swift
  appinventor/components-ios/src/MagneticFieldSensor.swift
  appinventor/components-ios/src/ProximitySensor.swift
Labels: pull request: needs reply to review, feature request, affects: ucr, ios, testflight

#3302 Implement PersonalAudioClassifier for iOS
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/components-common/src/PersonalAudioClassifier/personal_audio_classifier.html
  appinventor/components-common/src/PersonalAudioClassifier/personal_audio_classifier1.js
  appinventor/components-ios/src/PersonalAudioClassifier.swift
  appinventor/components-ios/src/WebViewer.swift
  appinventor/components-ios/src/assets/chroma.js
  appinventor/components-ios/src/assets/recorder1.js
  appinventor/components-ios/src/assets/spectrogram.js
  appinventor/components-ios/src/assets/tfjs-1.5.2.js
Labels: pull request: needs review, feature request, affects: ucr, ios, testflight
