Repository mit-cml/appinventor-sources, pull requests merged in 2024-04, with the labels that each got.

#3154 Fix for ListView.swift, issue #3153
  appinventor/components-ios/src/ListView.swift
Labels: bug, affects: ucr, ios

#3161 Make Speech Recognizer sensitive to user Locale
  appinventor/components-ios/src/ErrorMessages.swift
  appinventor/components-ios/src/SpeechRecognizer.swift
Labels: bug, pull request: needs review, affects: ucr, ios

#3164 Make Clock methods sensitive to user locale
  appinventor/components-ios/src/Clock.swift
Labels: bug, pull request: needs review, affects: ucr, ios

#3172 Address 404 error due to change in Navigation URL structure
  appinventor/components-ios/src/Navigation.swift
  appinventor/components/src/com/google/appinventor/components/runtime/Navigation.java
Labels: pull request: needs review, affects: ucr, regression, android, ios, testflight

#3163 Make ant extensions work with Java 11
  appinventor/components/build.xml
Labels: pull request: needs review, technical debt, affects: master, android

#3129 Fix regression in designer properties activating permissions
  appinventor/buildserver/src/com/google/appinventor/buildserver/ProjectBuilder.java
Labels: pull request: needs review, affects: master, regression, android
