Repository mit-cml/appinventor-sources, pull requests merged in 2025-10, with the labels that each got.

#3613 bug fix of trendline update not working in ios
  appinventor/components-ios/src/ChartData2D.swift
  appinventor/components-ios/src/ChartDataBase.swift
  appinventor/components-ios/src/Trendline.swift
Labels: bug, pull request: needs review, affects: master, ios, testflight

#3456 Handle issue where iOS dialogs stack oddly
  appinventor/components-ios/src/Notifier.swift
Labels: pull request: needs review, affects: ucr, regression, ios, testflight

#3452 Fix address format for non-US locales and clean up dead code
  appinventor/components-ios/src/LocationSensor.swift
Labels: bug, pull request: needs review, affects: ucr, ios, testflight
