Repository mit-cml/appinventor-sources, pull requests merged in 2025-07, with the labels that each got.

#3521 Fix error messages in iOS ChatBot/ImageBot
  appinventor/components-ios/src/ErrorMessages.swift
Labels: bug, pull request: needs review, affects: master, ios, testflight

#3448 Remove unused MOTD service
  appinventor/appengine/src/com/google/appinventor/YaClient.gwt.xml
  appinventor/appengine/src/com/google/appinventor/client/MotdFetcher.java
  appinventor/appengine/src/com/google/appinventor/client/Ode.java
  appinventor/appengine/src/com/google/appinventor/client/OdeMessages.java
  appinventor/appengine/src/com/google/appinventor/client/TopPanel.java
  appinventor/appengine/src/com/google/appinventor/client/boxes/MotdBox.java
  appinventor/appengine/src/com/google/appinventor/client/local/LocalGetMotdService.java
  appinventor/appengine/src/com/google/appinventor/client/output/MotdUi.java
  appinventor/appengine/src/com/google/appinventor/client/style/neo/neo.css
  appinventor/appengine/src/com/google/appinventor/client/variableColors.css
  appinventor/appengine/src/com/google/appinventor/server/GetMotdServiceImpl.java
  appinventor/appengine/src/com/google/appinventor/server/storage/ObjectifyStorageIo.java
  appinventor/appengine/src/com/google/appinventor/server/storage/StorageIo.java
  appinventor/appengine/src/com/google/appinventor/shared/rpc/GetMotdService.java
  appinventor/appengine/src/com/google/appinventor/shared/rpc/GetMotdServiceAsync.java
  appinventor/appengine/src/com/google/appinventor/shared/rpc/Motd.java
  appinventor/appengine/src/com/google/appinventor/shared/rpc/MotdProvider.java
  appinventor/appengine/src/com/google/appinventor/shared/rpc/ServerLayout.java
  appinventor/appengine/war/WEB-INF/web.xml
  appinventor/appengine/war/static/css/Ya.css
Labels: pull request: needs review, technical debt, affects: master, for-ai2-test

#3520 Make Component Name visible to Java code
  appinventor/buildserver/src/com/google/appinventor/buildserver/resources/runtime.scm
  appinventor/buildserver/tests/com/google/appinventor/buildserver/YailEvalTest.java
  appinventor/components/src/com/google/appinventor/components/runtime/AndroidNonvisibleComponent.java
  appinventor/components/src/com/google/appinventor/components/runtime/Component.java
  appinventor/components/src/com/google/appinventor/components/runtime/DataCollection.java
  appinventor/components/src/com/google/appinventor/components/runtime/Form.java
  appinventor/components/src/com/google/appinventor/components/runtime/MapFeatureBase.java
  appinventor/components/src/com/google/appinventor/components/runtime/Trendline.java
  appinventor/components/src/com/google/appinventor/components/runtime/VisibleComponent.java
  appinventor/components/tests/com/google/appinventor/components/runtime/util/PropertyUtilTest.java
Labels: pull request: needs review, feature request, affects: master, android

#3519 Implement UsesCamera and UsesMicrophone permissions for WebViewer
  appinventor/appengine/src/com/google/appinventor/client/youngandroid/YoungAndroidFormUpgrader.java
  appinventor/blocklyeditor/src/versioning.js
  appinventor/components/src/com/google/appinventor/components/common/YaVersion.java
  appinventor/components/src/com/google/appinventor/components/runtime/WebViewer.java
  appinventor/components/src/com/google/appinventor/components/runtime/util/EclairUtil.java
  appinventor/docs/html/reference/components/userinterface.html
  appinventor/docs/markdown/reference/components/userinterface.md
Labels: pull request: needs review, feature request, affects: ucr, android, for-ai2-test

#3528 Fix wrong version number in WebViewer upgrade path
  appinventor/appengine/src/com/google/appinventor/client/youngandroid/YoungAndroidFormUpgrader.java
Labels: pull request: needs review, affects: ucr, regression

#3527 Fix up some undesirable exceptions in property/setting handling
  appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockForm.java
  appinventor/appengine/src/com/google/appinventor/client/editor/simple/components/MockImageSprite.java
  appinventor/appengine/src/com/google/appinventor/client/settings/project/YoungAndroidSettings.java
Labels: pull request: needs review, technical debt, affects: master
