Repository mit-cml/appinventor-sources, pull requests merged in 2025-09, with the labels that each got.

#3587 Fix Header Alignment on AdminUserList Page
  appinventor/appengine/src/com/google/appinventor/client/AdminUserList.java
  appinventor/appengine/war/static/css/Ya.css
Labels: pull request: needs review, affects: master, regression

#3592 Implement Scene Management for iOS 13+
  appinventor/AIComponentKit.xcodeproj/project.pbxproj
  appinventor/PlayerApp/Info.plist
  appinventor/aicompanionapp/src/Info.plist
  appinventor/components-ios/src/SceneDelegate.swift
Labels: pull request: needs review, technical debt, affects: master, ios, testflight

#3607 Implement missing iOS chart extend functions
  appinventor/components-ios/src/AxisChartView.swift
  appinventor/components-ios/src/Chart.swift
Labels: enhancement, pull request: needs review, affects: master, ios, testflight
